#cloud-config
fs_setup:
- device: "/dev/vdb"
  partition: "none"
  filesystem: "ext4"
mounts:
- [ vdb, /opt/data ]
write_files:
- path: /etc/default/personality
  content: "vmanage\n"
- path: /etc/default/inited
  content: "1\n"
- path: /usr/share/viptela/symantec-root-ca.crt
- path: /usr/share/viptela/root-ca.crt
  content: |
{% filter indent(width=4, first=True) %}
{{ root_ca }}
{% endfilter %}
{% if persona != 'COMPUTE_AND_DATA' %}
- path: /opt/web-app/etc/persona
  owner: vmanage:vmanage-admin
  permissions: '0644'
  content: |
    {"persona":"{{ persona }}"}
{% endif %}
- path: /etc/confd/init/zcloud.xml
  content: |
{% filter indent(width=4, first=True) %}
{{ config }}
{% endfilter %}
